

<link rel="stylesheet" href="/../../assets/bootstrap/assets/css/aos.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/css/animate.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/bootstrap/css/bootstrap.min.css">
<div class="col order-md-last mb-5 aos-init aos-animate" data-aos="fade-down">
  <a href="#">
    <img class="rounded img-fluid shadow" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
       src="../../../assets/examples/bulbasaurflowerpot.jpeg"></a>
  <p class="fw-bold" style="tab-size: 8">Nombre del producto  <br>Precio</p>
</div>
<script src="/../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/../../assets/js/aos.min.js"></script>
<script src="/../../assets/js/bs-init.js"></script>
<script src="/../../assets/js/bold-and-dark.js"></script>


