<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Lilith's</title>
  <link rel="stylesheet" href="/../../bootstrap/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav" style="background: rgb(117, 62, 130); --bs-body-color: #f3f3f3; --bs-light: #fcafee; --bs-light-rgb: 252,175,238; --bs-dark: #171f81; --bs-dark-rgb: 23,31,129; --bs-body-bg: #0f6da6; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor:#2f1934;">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
    <span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon">
      <img src="../../../assets/examples/logo2.jpg" height="30px" width="30px">
    </span>
    <span>Lilith's</span>
  </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="pricing">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="contacts">Contacts</a></li>
      </ul><a class="btn btn-primary shadow" role="button" href="login">Login</a>
    </div>
  </div>
</nav>
