<link rel="stylesheet" href="/../../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/css/aos.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/css/animate.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/bootstrap/css/bootstrap.min.css">
<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav" style="background: #22272a;--bs-body-color: #f3f3f3;--bs-light: #fcafee;--bs-light-rgb: 252,175,238;--bs-dark: #171f81;--bs-dark-rgb: 23,31,129;--bs-body-bg: #0f6da6;">
  <div class="container"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star" style="font-size: 30px;">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                </svg></span><a class="navbar-brand d-flex align-items-center" href="/"><span>Lilith's</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="servicios.html">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link active" href="productos.html">Productos</a></li>
        <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
      </ul><a class="btn btn-primary shadow" role="button" data-bss-hover-animate="pulse" href="signup.html" style="background: #32bde3;">Iniciar Sesión</a>
    </div>
  </div>
</nav>
