<link rel="stylesheet" href="/../../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/css/aos.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/css/animate.min.css">
<link rel="stylesheet" href="/../../assets/bootstrap/assets/bootstrap/css/bootstrap.min.css">
<mat-grid-list cols="4" rowHeight="fit" class="py-5" style='height: 100%;'  gutterSize="10px">
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
  <mat-grid-tile><app-imagenes></app-imagenes></mat-grid-tile>
</mat-grid-list>

